form {
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-6 {
    padding: 0px;
  }
  .city-pincode {
    .col-md-6 {
      margin-top: 13px;
      @media (max-width: 767px) {
        margin-top: 0px;
      }
    }
  }
  .col-md-3-classes {
    @media (min-width: 768px) {
      .left {
        padding-right: 15px !important;
      }
      .middle-left {
        padding-left: 5px;
        padding-right: 10px;
      }
      .middle-right {
        padding-left: 10px;
        padding-right: 5px;
      }
      .right {
        padding-left: 15px !important;
      }
    }
  }
  .col-md-4-classes {
    @media (min-width: 768px) {
      .left {
        padding-right: 12.5px;
      }
      .middle {
        padding-left: 6.25px;
        padding-right: 6.25px;
      }
      .right {
        padding-left: 12.5px;
      }
    }
  }
}
button[type="submit"] {
  margin: 0px 0px 20px 20px;
}
