body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
input,
textarea,
select,
button {
  outline: 0 !important;
  border: 1px solid #dfdfdf !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
button {
  border: none !important;
}
textarea {
  resize: none !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
.form-group {
  margin-bottom: 0px !important;
}
